@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
.light-mode{
  --elements: white;
  --background: hsl(0, 0%, 98%);
  --text: hsl(200, 15%, 8%);
}
.dark-mode{
  --elements: hsl(209, 23%, 22%);
  --background: hsl(207, 26%, 17%);
  --text: hsl(0, 0%, 100%)
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}
html{
  font-size: 10px;
}
.loading{
  min-height: 91vh;
  background: var(--background);
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  p{
    font-size: 10rem;
    text-transform: uppercase;
  }
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
  font-size: 1.6rem;
  padding: 2rem;
  background: var(--elements);
  color: var(--text);
  button{
    background: transparent;
    color: var(--text);
    border: 0;
    font-size: 1.6rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    cursor: pointer;
    img{
      width: 2rem;
      height: 2rem;
    }
  }
}
.form{
  display: flex;
  gap: 2rem;
  input,select{
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
    font-size: 1.6rem;
    padding: 1rem;
    border:0;
    background: var(--elements);
    color: var(--text);
    &::placeholder{
      color: var(--text);
    }
  }
}
.container{
  display: grid;
  padding: 8rem;
  padding-top: 2rem;
  align-items: flex-start;
  min-height: 91vh;
  background: var(--background);
  gap: 2rem
}
.countries{
  background: var(--background);
  display: grid;
  gap: 8rem;
  .country-card{
    display: grid;
    background: var(--elements);
    border-radius: 1rem;
    box-shadow: 0px 4px 100px 8px rgba(0, 0, 0, 0.05);
    text-decoration: none;
    color: var(--text);
    .country-flag{
      width: 100%;
      img{
        border-radius: 1rem 1rem 0rem 0rem;
        width: 100%;
      }
    }
    .country-data{
      display: grid;
      padding: 2rem;
      gap: 1rem;
      
      h2{
        font-size: 3rem;
        padding-bottom: 1rem;
      }
      p{
        font-size: 1.6rem;
        span{
          font-weight: bold;
        }
      }
    }
    transition: transform 0.3s;
    &:hover{
      transform: scale(1.03);
    }
  }
}
.countries-detail{
  display: grid;
  background: var(--background);
  min-height: 91vh;
  align-items: flex-start;
  align-content: flex-start;
  .back{
    padding: 5rem;
    button{
      box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
      font-size: 1.6rem;
      padding: 1rem 5rem;
      border:0;
      background: var(--elements);
      color: var(--text);
      cursor: pointer;
    }
  }
  .country{
    display: grid;
    gap: 2rem;
    padding: 5rem;
    color: var(--text);
    .country-flag{
      display: grid;
      width: 100%;
      img{
        // aspect-ratio: 16 / 9;
        max-height: 40rem;
        width: 100%;
      }
    }
    .country-data{
      display: grid;
      padding: 2rem;
      gap: 1rem;
      
      h2{
        font-size: 3rem;
        padding-bottom: 1rem;
      }
      p{
        font-size: 1.6rem;
        span{
          font-weight: bold;
        }
      }
    }
    .border-countries{
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      .b-country{
        background: var(--elements);
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
        font-size: 1.6rem;
        padding: 1rem;
      }
    }
  }
}
@media(min-width: 786px){
  .countries{
    grid-template-columns: repeat(2, 1fr)
  }
}
@media(min-width: 991px){
  .countries{
    grid-template-columns: repeat(3, 1fr)
  }
}
@media(min-width: 1200px){
  .countries{
    grid-template-columns: repeat(4, 1fr)
  }
  .countries-detail{
    .country{
      align-content: center;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: 
      "flag flag info1 info2"
      "flag flag border border";
      align-items: center;
      .country-flag{
        grid-area: flag;
      }
      .country-data:nth-child(2){
        grid-area: info1;
      }
      .country-data:nth-child(3){
        grid-area: info2;
      }
      .country-data:nth-child(1){
        grid-area: border;
      }
    }
  }
}