@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
.light-mode {
  --elements: white;
  --background: hsl(0, 0%, 98%);
  --text: hsl(200, 15%, 8%);
}

.dark-mode {
  --elements: hsl(209, 23%, 22%);
  --background: hsl(207, 26%, 17%);
  --text: hsl(0, 0%, 100%) ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.form {
  display: flex;
  gap: 2rem;
}
.form input, .form select {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
  font-size: 1.6rem;
  padding: 1rem;
  border: 0;
  background: var(--elements);
  color: var(--text);
}
.form input::-moz-placeholder, .form select::-moz-placeholder {
  color: var(--text);
}
.form input:-ms-input-placeholder, .form select:-ms-input-placeholder {
  color: var(--text);
}
.form input::placeholder, .form select::placeholder {
  color: var(--text);
}

html {
  font-size: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
  font-size: 1.6rem;
  padding: 2rem;
  background: var(--elements);
  color: var(--text);
}
header button {
  background: transparent;
  color: var(--text);
  border: 0;
  font-size: 1.6rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  cursor: pointer;
}
header button img {
  width: 2rem;
  height: 2rem;
}

.loading {
  min-height: 91vh;
  background: var(--background);
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading p {
  font-size: 10rem;
  text-transform: uppercase;
}

.container {
  display: grid;
  padding: 8rem;
  padding-top: 2rem;
  align-items: flex-start;
  min-height: 91vh;
  background: var(--background);
  gap: 2rem;
}

.countries {
  background: var(--background);
  display: grid;
  gap: 8rem;
}
.countries .country-card {
  display: grid;
  background: var(--elements);
  border-radius: 1rem;
  box-shadow: 0px 4px 100px 8px rgba(0, 0, 0, 0.05);
  text-decoration: none;
  color: var(--text);
  transition: transform 0.3s;
}
.countries .country-card .country-flag {
  width: 100%;
}
.countries .country-card .country-flag img {
  border-radius: 1rem 1rem 0rem 0rem;
  width: 100%;
}
.countries .country-card .country-data {
  display: grid;
  padding: 2rem;
  gap: 1rem;
}
.countries .country-card .country-data h2 {
  font-size: 3rem;
  padding-bottom: 1rem;
}
.countries .country-card .country-data p {
  font-size: 1.6rem;
}
.countries .country-card .country-data p span {
  font-weight: bold;
}
.countries .country-card:hover {
  transform: scale(1.03);
}

.countries-detail {
  display: grid;
  background: var(--background);
  min-height: 91vh;
  align-items: flex-start;
  align-content: flex-start;
}
.countries-detail .back {
  padding: 5rem;
}
.countries-detail .back button {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
  font-size: 1.6rem;
  padding: 1rem 5rem;
  border: 0;
  background: var(--elements);
  color: var(--text);
  cursor: pointer;
}
.countries-detail .country {
  display: grid;
  gap: 2rem;
  padding: 5rem;
  color: var(--text);
}
.countries-detail .country .country-flag {
  display: grid;
  width: 100%;
}
.countries-detail .country .country-flag img {
  max-height: 40rem;
  width: 100%;
}
.countries-detail .country .country-data {
  display: grid;
  padding: 2rem;
  gap: 1rem;
}
.countries-detail .country .country-data h2 {
  font-size: 3rem;
  padding-bottom: 1rem;
}
.countries-detail .country .country-data p {
  font-size: 1.6rem;
}
.countries-detail .country .country-data p span {
  font-weight: bold;
}
.countries-detail .country .border-countries {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.countries-detail .country .border-countries .b-country {
  background: var(--elements);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
  font-size: 1.6rem;
  padding: 1rem;
}

@media (min-width: 786px) {
  .countries {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 991px) {
  .countries {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .countries {
    grid-template-columns: repeat(4, 1fr);
  }
  .countries-detail .country {
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "flag flag info1 info2" "flag flag border border";
    align-items: center;
  }
  .countries-detail .country .country-flag {
    grid-area: flag;
  }
  .countries-detail .country .country-data:nth-child(2) {
    grid-area: info1;
  }
  .countries-detail .country .country-data:nth-child(3) {
    grid-area: info2;
  }
  .countries-detail .country .country-data:nth-child(1) {
    grid-area: border;
  }
}/*# sourceMappingURL=style.css.map */